<h2 class="pagetitle">Update application status</h2>
<table cellspacing="0" class="joblist">
  <tbody>
    <tr>
      <td>ListingDate</td>
      <td><%= @edit_progress_job["listingdate"][0..9] %></td>
    </tr>
    <tr>
      <td>Job_title</td>
      <td><a href="https://www.seek.com.au/job/<%=@edit_progress_job[" jobid "]%>" target="_blank">
          <%= @edit_progress_job["title"] %></a></td>
    </tr>
    <tr>
      <td>Company / Agent</td>
      <td><%= @edit_progress_job["description"] %></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><%= @favourite_job['status']%><td>
    </tr>
    <tr>
      <td>Comment</td>
      <td><%= @favourite_job['comment']%><td>
    </tr>
  </tbody>
</table>

<div class="form job_apply_progress">

  <form class="application_status" id="application_status" action="/users/update_status/<%=@edit_progress_job["id"]%>" method="post">
    <input type="hidden" name="_method" value="put">  
    
    <div class="field">
      <label for="application_status">Application_status</label>
      <input class="text" type="text" value="" name="status" id="status">
    </div>

    <div class="field">
      <label for="comment">Comment</label>
      <textarea rows="10" cols="44" name="comment" form="application_status">
Enter text here...</textarea>
    </div>

    <div class="field">
      <input type="submit" name="commit" value="Save" class="submit">
      <button type="reset" value="Reset" class="submit">Cancel</button>
    </div>

  </form>
</div>