<table cellspacing="0" class="joblist">
    <thead>
	<tr>
		<th>Posted</th>
		<th>Title</th>
		<th>Company_name</th>
		<th>Location</th>
		<% if logged_in? %>
		<th>Save jobs</th>
		<%end%>
	</tr>
	</thead>
  	<tbody>	
	    <% @jobs.each do |job| %>
		    <tr>
			    <td><%= job["listingDate"][0..9] %></td>
			    <td><a href="https://www.seek.com.au/job/<%=job["id"]%>" target="_blank"><%= job["title"] %></a></td>
			    <td><%= job["advertiser"]["description"] %></td>
			    <td><%= job["location"] %></td>
				<% if logged_in? %>
					<td>
					<form class="save_job" id="save_job" action="/users/save_jobs" method="post">
						<input type="hidden" name="save_job" value="<%=job["id"]%>" class="submit">
						<%if job_saved? job["id"] %>
						<button class="savejobs" disabled>saved</button>
						<% else %>
						<button class="savejobs">save_job</button>
						<% end %>
					</form>
					</td>
				<%end%>
		    </tr>
	    <% end %>
    </tbody>
</table>