<table cellspacing="0" class="joblist">
    <thead>
	<tr>
		<th>Posted</th>
		<th>Title</th>
		<th>Company_name</th>
		<th>Location</th>
		<% if logged_in? %>
		<th>Save jobs</th>
		<%end%>
	</tr>
	</thead>
  	<tbody>	
	    <% @jobs.each do |job| %>
		    <tr>
			    <td><%= job["listingDate"][0..9] %></td>
			    <td><a href="https://www.seek.com.au/job/<%=job["id"]%>" target="_blank"><%= job["title"] %></a></td>
			    <td><%= job["advertiser"]["description"] %></td>
			    <td><%= job["location"] %></td>
				<% if logged_in? %>
				<td>
					<%if job_saved? get_integer_job_id job["id"] %>
						<form class="save_job" id="save_job" action="/users/unsave_jobs/<%=get_integer_job_id job["id"]%>" method="post">
						<input type="hidden" name="_method" value="delete" class="submit">
						<button class="savejobs">unsaved</button>
						</form>
					<% else %>
						<form class="save_job" id="save_job" action="/users/save_jobs" method="post">
						<input type="hidden" name="save_job" value="<%=get_integer_job_id job["id"]%>" class="submit">
						<button class="savejobs">save_job</button>
						</form>
					<% end %>
					
				</td>
				<%end%>
		    </tr>
	    <% end %>
    </tbody>
</table>